/* CtxTabsView */

/* Common */

.CtxTabsView {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}

.CtxTabsView .caption {
    display: none;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 200;
    color: rgb(50, 50, 50);
    float: left;
}

.CtxTabsView.flat .caption {
    padding-left: 0px;
}


.CtxTabsView .caption.ctx_transparent {
    color: transparent;
}

.CtxTabsView .tabs {
    min-height: 42px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 20px;
}

.CtxTabsView .tabs > div {
    cursor: pointer;
    float: left;
}

.CtxTabsView .dropDownButton {
    width: 32px;
    height: 32px;
    display: none;
    float: right;
    border: 1px solid #ddd;
}

.CtxTabsView.leftDropDownButton .dropDownButton {
    float: left;
}

/* Standard Style */

.CtxTabsView .tabs > div.active {
    background-color: inherit;
}

.CtxTabsView {
    width: 100%;
}

.CtxTabsView .tabs {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.CtxTabsView .tabs > div {
    cursor: pointer;
    float: left;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    color: #3e96ff;
}

.CtxTabsView .tabs > div:hover {
    color: #365fbc;
    background-color: #ededed;
    padding-bottom: 16px;
}

.CtxTabsView .tabs > div.ctx_selected
{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-width: 0;
    padding-bottom: 16px;
}

/* Flat Style */


.CtxTabsView.flat .tabs {
    min-height: 19px;
    max-height: 19px;
    margin-bottom: 20px  
}

.CtxTabsView.flat .tabs > div {
    padding: 0;
    margin-right: 15px;
    display: block;
    color: #808080;
    border-radius: 0;
    border: none;
    /*font-weight: bolder;*/
}

.CtxTabsView.flat > .tabs > div:hover {
    color: rgb(50, 50, 50);
    background-color: transparent;
}

.CtxTabsView.flat .tabs > div.ctx_selected
{
    color: rgb(50, 50, 50);
    text-decoration: none;
    background-color: transparent;
    /*color: #3e96ff;*/
    border-bottom: 3px solid #3e96ff;
}

/* Small screens */

@media (max-width: 767px)
{
    /* Same for default and flat styles */

    .CtxTabsView {
        float: left;
        border-radius: 4px;
        margin-bottom: 0;
    }

    .CtxTabsView .caption {
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
    }

    .CtxTabsView .dropDownButton {
        display: inline-block;
    }

    .CtxTabsView .tabs,
    .CtxTabsView.flat .tabs {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 100;
        background-color: #333;
        color: #ddd;
    }

    .CtxTabsView .tabs[dropped_down=true] {
        display: block;
        margin-top: 35px;
    }

    .CtxTabsView .tabs > div,
    .CtxTabsView.flat .tabs > div {
        float: none;
        padding: 20px;
        background-color: #555;
        color: #eee;
        font-weight: normal;
        width: 100%;
        text-align: left;
        border: none;
        border-radius: 0;
    }

    .CtxTabsView .tabs > div.ctx_selected,
    .CtxTabsView.flat .tabs > div.ctx_selected {
        width: 100%;
        background-color: #2e6bb3;
        color: #fff;
        border: none;
        border-radius: 0;
        padding: 20px;
    }

    .CtxTabsView .tabs > div:hover,
    .CtxTabsView.flat .tabs > div:hover {
        width: 100%;
        background-color: #3e96ff;
        color: #fff;
        padding: 20px;
    }    
}


/* PageView */

@media (max-width: 767px)
{
    .CtxPageView .ctxPagesContainer {
        padding-top: 50px
    }
}

/* ModalView */

.CtxModalView {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: center;
}

.CtxModalView .cxtModalContainer {
    display: inline-block;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: auto;
    min-width: 300px;
    max-width: 70%;
    height: auto;
    max-height: 90%;
    margin: 30px auto;
    padding: 20px;
    overflow: auto;
}

@media (max-width: 767px) {
    .CtxModalView .cxtModalContainer {
        min-width: 200px;
    }
}

/* DialogView */

.CtxModalView .cxtModalContainer {
  animation-name: ctxAnimZoomOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

.CtxDialogView .cxtModalContainer .ctxCaptionContainer {
    margin-left: -5px;
    margin-top: -5px;
    margin-right: -5px    
}

.CtxDialogView .cxtModalContainer .ctxCaption {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 15px;
    text-align: left;
    color: #333;
    float: left;
}

.CtxDialogView .cxtModalContainer .ctxClose {
    background-image: url(../images/cross.png);
    background-repeat: no-repeat;
    float: right;
    width: 12px;
    height: 12px;
    background-size: 12px;  
    cursor: pointer;
    margin-top: 4px;
}

.CtxDialogView .cxtModalContainer .ctxClose:hover {
    background-image: url(../images/cross-red.png);
}



/* MessageBox */

.CtxMessageBox .cxtModalContainer {
  animation-name: ctxAnimZoomOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

.CtxMessageBox .cxtModalContainer .ctxCaption {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: left;
}

/* PopupMenu */

.CtxPopupMenu {
  animation-name: ctxAnimSlideDown;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.1s;
}

.CtxPopupMenu, .CtxPopupMenu:focus {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    background-color: rgba(255, 255, 255, 100);
}

.CtxPopupMenu .ctx_list_item {
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.CtxPopupMenu .ctx_list_item:hover,
.CtxPopupMenu .ctx_list_item.ctx_selected:hover {
    color: #262626;
    background-color: #e4e4e4;
}

.CtxPopupMenu .ctx_list_item.ctx_selected {
    background-color: inherit;
}

.CtxPopupMenu .ctx_list_item.ctx_separator {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,0.11);
    padding: 0;     
}

.CtxPopupMenu .ctx_list_item.ctx_disabled {
    color: rgba(0,0,0,0.38);    
}

/* NavigationPanel */

.CtxNavigationPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: #2e3c54;
}