/*
    ListView
*/

.CtxListView > div.ctx_selected {
    color: #262626;
    background-color: #e4e4e4;
}

/* 
    LookupView 
*/

.CtxLookupView {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

.CtxLookupView .ctxInputBlock {
    display: table;
    width: 100%;
}

.CtxLookupView .ctxInternalInput {
    display: table-cell;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.CtxLookupView .ctxInputBtnGroup {
    display: table-cell;
    width: 1%;
}

.CtxLookupView .ctxInternalInputButton {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -2px;
    margin-right: 0;
    border-left-style: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.CtxLookupView .ctxInnerList {
    visibility: hidden;
    /* position */
    position: absolute;
    z-index: 1000;
    width: inherit;
    /* style */
    margin-top: 1px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    /* clipping */
    max-height: 210px;
    overflow: auto;
}

.CtxLookupView .ctxInnerList > div {
    display: block;
    padding: 3px 30px 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.CtxLookupView .ctxInnerList > div:hover {
    color: #262626;
    background-color: #f5f5f5;
}

.CtxLookupView .ctxInnerList > div.ctx_selected {
    color: #262626;
    background-color: #e4e4e4;
}

/*.CtxLookupView .ctxInnerList > div.ctx_selected {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}*/


/* 
    CtxDatePicker 
*/

.CtxDatePicker {
    width: 150px;
}

.CtxDatePicker .ctxInnerList {
     display: table;
     width: auto;
     height: auto;
}

.CtxDatePicker .ctxInnerList > div {
    padding: 4px;
    cursor: default;
}

.CtxDatePicker .ctxInnerList .ctxMonthNameTable, .ctxDaysTable {
    display: table;
    width: 100%;
}

.CtxDatePicker .ctxInnerList .ctxMonthNameTable {
    padding-bottom: 0;
}

.CtxDatePicker .ctxInnerList .ctxDaysTable {
    padding-top: 0;
}

.CtxDatePicker .ctxInnerList .ctxMonthNameTable .ctxMonthBtnContainer .ctxPrevMonthBtn, .ctxNextMonthBtn {
    margin: 0;
    width: 24px;
    height: 24px;
}

.CtxDatePicker .ctxInnerList .ctxRow {
    display: table-row;
}

.CtxDatePicker .ctxInnerList .ctxRow .ctxMonthBtnContainer {
    display: table-cell;
}

.CtxDatePicker .ctxInnerList .ctxRow .ctxMonthName {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 4px;
}

.CtxDatePicker .ctxInnerList .ctxRow .ctxMonthName, .ctxWeekDay, .ctxDay, .ctxPrevMonthDay, .ctxNextMonthDay {
    display: table-cell;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
}

.CtxDatePicker .ctxInnerList > div:hover {
    color: #262626;
    background-color: #fff;
}

.CtxDatePicker .ctxInnerList .ctxRow .ctxPrevMonthDay, .ctxNextMonthDay {
    color: #fff;
}

.CtxDatePicker[showPrevNextMonthDays="true"] .ctxInnerList .ctxRow .ctxPrevMonthDay, .ctxNextMonthDay {
    color: #c5c5c5;
}

.CtxDatePicker .ctxInnerList .ctxRow .ctxDay:hover {
    background-color: #f5f5f5;
    /*border: 1px solid;*/
    border-radius: 4px;
}

.CtxDatePicker .ctxWeekDay {
    font-weight: 200;
    border-bottom: 1px ridge;
    padding-top: 0;
    /*padding-bottom: 0;*/
}

.CtxDatePicker[highlightWeekends="true"] .ctxWeekDay[weekend], .ctxDay[weekend] {
    color: #d2322d;
}

.CtxDatePicker .ctxDay {
    cursor: pointer;
}

.CtxDatePicker .ctxDay[today], .ctxDay[selected] {
    color: #2266dd;
    border: 1px solid;
    border-radius: 4px;
}

.CtxDatePicker .ctxDay[selected] {
    font-weight: 500;
}

.CtxDatePicker .ctxDay[selected], .ctxDay[selected]:hover {
    background-color: #c9e3ff;
}

/* CtxPopupSelectView */

.CtxPopupSelectView {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.CtxPopupSelectView[focused] {
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.CtxPopupSelectView .ctxCaption {
    display: inline-block;
}

.CtxPopupSelectView .ctxDropDownBtn {
    display: inline-block;
    margin-left: 10px;
    background-image: url(../images/dropdown.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-top: 2px;
}