
/* disabling inputs highligthning
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    padding: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
}
*/

.CtxMobileHeader {
    display: block;
    height: 44px;
    background: url('resources/mobile/header.blue.png');
}

.CtxMobileHeader.black {
    background: url('resources/mobile/header.black.png');
}

.CtxMobileButton {
    display: inline-block;
    -webkit-border-image: url('resources/mobile/button.blue.png') 8 8 8 8;
    -moz-border-image: url('resources/mobile/button.blue.png') 8 8 8 8;
    -ms-border-image: url('resources/mobile/button.blue.png') 8 8 8 8;
    -o-border-image: url('resources/mobile/button.blue.png') 8 8 8 8;
    border-width: 8px 8px 8px 8px;
    height: 42px;
    line-height: 26px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 -1px 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.CtxMobileButton:active {
    opacity: .8;
}

.CtxMobileButton.gray {
    -webkit-border-image: url('resources/mobile/button.gray.png') 8 8 8 8;
    -moz-border-image: url('resources/mobile/button.gray.png') 8 8 8 8;
    -ms-border-image: url('resources/mobile/button.gray.png') 8 8 8 8;
    -o-border-image: url('resources/mobile/button.gray.png') 8 8 8 8;
}

.CtxMobileButton.red {
    -webkit-border-image: url('resources/mobile/button.red.png') 8 8 8 8;
    -moz-border-image: url('resources/mobile/button.red.png') 8 8 8 8;
    -ms-border-image: url('resources/mobile/button.red.png') 8 8 8 8;
    -o-border-image: url('resources/mobile/button.red.png') 8 8 8 8;
}

.CtxMobileButton.big {
    height: 60px;
    line-height: 44px;
    padding-left: 16px;
    padding-right: 16px;
}

.CtxMobileButton.small {
    height: 30px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

.CtxMobileHeader .CtxMobileNavButton:first-child {
    margin-left: 6px;
}

.CtxMobileHeader .CtxMobileNavButton {
    margin-top: 7px;
    margin-right: 6px;
}

.CtxMobileHeader.black .CtxMobileNavButton {
    margin-top: 6px;
}

.CtxMobileNavButton {
    display: inline-block;
    -webkit-border-image: url('resources/mobile/navbutton.png') 5 5 5 5;
    -moz-border-image: url('resources/mobile/navbutton.png') 5 5 5 5;
    -ms-border-image: url('resources/mobile/navbutton.png') 5 5 5 5;
    -o-border-image: url('resources/mobile/navbutton.png') 5 5 5 5;
    border-width: 5px 5px 5px 5px;
    height: 30px;
    line-height: 19px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0 -1px 0;
    text-decoration: none;
    white-space: nowrap;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
}

.CtxMobileNavButton:active {
    opacity: .8;
}

.CtxMobileNavButton.black {
    -webkit-border-image: url('resources/mobile/navbutton.black.png') 5 5 5 5;
    -moz-border-image: url('resources/mobile/navbutton.black.png') 5 5 5 5;
    -ms-border-image: url('resources/mobile/navbutton.black.png') 5 5 5 5;
    -o-border-image: url('resources/mobile/navbutton.black.png') 5 5 5 5;
}

.CtxMobileNavButton.primary, .CtxMobileNavButton.blue {
    -webkit-border-image: url('resources/mobile/navbutton.blue.png') 5 5 5 5;
    -moz-border-image: url('resources/mobile/navbutton.blue.png') 5 5 5 5;
    -ms-border-image: url('resources/mobile/navbutton.blue.png') 5 5 5 5;
    -o-border-image: url('resources/mobile/navbutton.blue.png') 5 5 5 5;
}

.CtxMobileNavButton.back {
    -webkit-border-image: url('resources/mobile/navbutton.back.png') 5 5 5 14;
    -moz-border-image: url('resources/mobile/navbutton.back.png') 5 5 5 14;
    -ms-border-image: url('resources/mobile/navbutton.back.png') 5 5 5 14;
    -o-border-image: url('resources/mobile/navbutton.back.png') 5 5 5 14;
    border-width: 5px 5px 5px 14px;
    padding-left: 5px;
}

.CtxMobileNavButton.back.black {
    -webkit-border-image: url('resources/mobile/navbutton.back.black.png') 5 5 5 14;
    -moz-border-image: url('resources/mobile/navbutton.back.black.png') 5 5 5 14;
    -ms-border-image: url('resources/mobile/navbutton.back.black.png') 5 5 5 14;
    -o-border-image: url('resources/mobile/navbutton.back.black.png') 5 5 5 14;
    border-width: 5px 5px 5px 14px;
    padding-left: 5px;
}

.CtxMobileListView {
    display: block;
}

.CtxMobileListView > div {
    position: relative;
    display: block;
    background-color: #eee;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #AAA;
    height: 47px;
    line-height: 47px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.CtxMobileListView > div:last-child {
    border-bottom-width: 1px;
}

.CtxMobileListView.showArrows > div {
    padding-right: 20px;
}

.CtxMobileListView.showIcons > div ,
.CtxMobileListView.checkSelected > div {
    padding-left: 47px;
}

.CtxMobileListView.roundBorders > div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.CtxMobileListView.roundBorders > div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.CtxMobileListView.separateItems > div {
    border-radius: 10px;
    border-bottom-width: 1px;
    margin-bottom: 4px;
}

.CtxMobileListView.separateItems > div:last-child {
    margin-bottom: 0;
}


/* .CtxMobileListView > div[selected="true"], */
/* .CtxMobileListView > div:active, */
.CtxMobileListView > div.active {
    background-color: #0274EE;
    color: white;
}

.CtxMobileListView > div.touched {
    background-color: #e2f4fE;
}

.CtxMobileListView > div > .ctx_item_text {
    display: table-cell;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    max-height: 47px;
    height: 47px;
    vertical-align: middle;
    white-space: normal;
}

.CtxMobileListView > div > .ctx_arrow {
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    width: 20px;
    height: 47px;
    background-image: url(resources/mobile/arrow.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

/* .CtxMobileListView > div:active > .ctx_arrow, */
/* .CtxMobileListView > div[selected="true"] > .ctx_arrow, */
.CtxMobileListView > div.active  > .ctx_arrow {
    background-image: url(resources/mobile/arrow.white.png);
}

.CtxMobileListView .arrow {
    position: absolute;
    right: 0;
    width: 14px;
}

.CtxMobileListView > div > .ctx_icon {
    display: inline;
    position: absolute;
    top: 0;
    left: 10px;
    width: 28px;
    height: 47px;
    line-height: 47px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.CtxMobileListView:focus {
    border: none;
    outline: none;
}

.CtxMobileListView.checkSelected > div.active > .ctx_icon {
    background-image: url(resources/mobile/icon.checkmark.white.png);
}

.ctx_icon.arrow {
    background-image: url(resources/mobile/icon.arrow.blue.png);
}

.ctx_icon.check-gray {
    background-image: url(resources/mobile/icon.check.gray.png);
}

.ctx_icon.cross-gray {
    background-image: url(resources/mobile/icon.cross.gray.png);
}

.ctx_icon.cross-red {
    background-image: url(resources/mobile/icon.cross.red.png);
}

.ctx_icon.delete {
    background-image: url(resources/mobile/icon.delete.png);
}

