/* CtxGridView */

.CtxGridView {
    overflow: hidden;
    min-height: 100px;
}

/* Header */

.CtxGridView .ctx_grid_header_outer {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.CtxGridView .ctx_grid_header {
    display: table-row;
}

.CtxGridView .ctx_grid_header > div {
    font-weight: bold;
}

/* Body */

.CtxGridView .ctx_grid_body {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.CtxGridView .ctx_grid_row  {
    display: table-row;
}

.CtxGridView .ctx_grid_cell {
    display: table-cell;
    padding: 5px;
    /*width: 100px;*/
    border-bottom: 1px solid #bbbbbb;
    text-overflow: ellipsis;
    cursor: default;
}

/* Footer */

.CtxGridView .ctx_grid_footer_outer {
    display: table;
    width: 100%;
}

.CtxGridView .ctx_grid_footer {
    display: table-row;
}

.CtxGridView .ctx_grid_footer > div {
    font-weight: bold;
    border-bottom: none;
}

/* Fixed header and footer */

.CtxGridView[fixedHeader='true'] .ctx_grid_body_outer {
    position:absolute;
    top: 28px;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
}

.CtxGridView[showFooter='true'] .ctx_grid_body_outer {
    bottom: 28px;
}


.CtxGridView/*[showFooter='true'][fixedHeader='true']*/ .ctx_grid_row:last-child .ctx_grid_cell {
    border-bottom: none;
}

.CtxGridView[fixedHeader='true'] .ctx_grid_footer_outer {
    position:absolute;
    bottom: 0px;
}


.CtxGridView[fixedHeader='true'] .ctx_grid_footer > div {
    border-top: 1px solid #bbbbbb;
}

/* Selection Row */

.CtxGridView[drawSelection="true"] .ctx_grid_body .ctx_grid_row.active,
.CtxGridView[drawSelection="true"] .ctx_grid_body .ctx_grid_row.active:hover
{
    background-color: #e4e4e4;
}

.CtxGridView[drawSelection="true"] .ctx_grid_body .ctx_grid_row:hover
{
    background-color: #f4f4f4;
}


