/* CtxNumpadWidget */

.CtxNumpadWidget
{
    /* border-spacing: 9px; */
    /* border-collapse: separate; */
    -webkit-tap-highlight-color: transparent;
}

.CtxNumpadWidget tr td
{
    position: relative;
    background: url(resources/numpad.key.png) 0 0 no-repeat;
    text-align: center;
    vertical-align: middle;
    width: 61px;
    height: 45px;
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
}

.CtxNumpadWidget tr td.backspace
{
    background: url(resources/numpad.backspace.png) 50% 50% no-repeat, url(resources/numpad.key.png) 0 0 no-repeat;
}

.CtxNumpadWidget tr td.backspace:active,
.CtxNumpadWidget tr td.backspace.active
{
    background: url(resources/numpad.backspace.white.png) 50% 50% no-repeat, #0274EE;
}

.CtxNumpadWidget tr
{
    border: none;
}

.CtxNumpadWidget tr td.widezero
{
    background: url(resources/numpad.key.0.png) 0 0 no-repeat;
}

.CtxNumpadWidget tr td.active,
.CtxNumpadWidget tr td:active
{
    background-color: #0274EE;
    background-image: none;
    color: white;
    /* border: 1px solid #333; */
    border-radius: 5px;
}

.CtxNumpadWidget tr td.spacer,
.CtxNumpadWidget tr td.spacer:active
{
    width: 9px;
    height: 9px;
    background: none;
    border: none;
}
