.CtxPopupWidget
{
    position: absolute;
    padding: 20px 0px 10px;
    background: -webkit-canvas(menu_background) no-repeat;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
}

.CtxPopupWidget > div
{
    display: block;
    margin: 7px 16px;
    padding: 10px 20px;
    /*font-weight: bold;*/
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#edeff3));
    background-image: -moz-linear-gradient(top, #fff, #edeff3);
    cursor: pointer;
}

.CtxPopupWidget > div:hover  
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8ad), to(#26d));
    background-image: -moz-linear-gradient(top, #8ad, #26d);
    color: white;
}